.messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .input-f input[type=text]:focus {
    border-bottom: none !important;
    box-shadow: none !important;
    outline: none;
}