.container{
  width: 100%;
  height: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

.container2{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

.box3{
  width: 60%;
  height: 20%;
  margin: 10px;
  box-sizing: border-box;
  border: .2rem solid black;
}

.box1{
  width: 60%;
  height: auto;
  margin: 10px;
  box-sizing: border-box;
}

.box2{
  width: 30%;
  height: 20%;
  margin: 10px;
  box-sizing: border-box;
}



@media screen and (max-width:800px) {
  .box1{
    width: 90%;
  }
  .box2{
    width: 90%;
  }
  .box3{
    width: 90%;
  }
  .box4{
    width: 90%;
  }
}

@media screen and (max-width:600px) {
  .box1{
    width: 90%;
  }
  .box2{
    width: 90%;
  }
  .box3{
    width: 90%;
  }
  .box4{
    width: 90%;
  }
}